doctype html
html
	head
		title Blog API
	body
		h2 To read and write posts register now
		h3 #{message}
		form(method='post', action='/register')
			div
				span Your name:
				input(type='text', name='name')
			div
				span Your email:
				input(type='email', name='email')
			div
				span Your password:
				input(type='password', name='password')
			input(type='submit', value='submit')
