doctype html
html
	head
		title Update This Post
		script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
	body
		form(method='put', action='/posts/' + post.doc_key + '?token=' + token)
			div
				input(type='text', name='title', value='' + post.title , placeholder='Title of your post')
			div
				textarea(name='body', cols='60', rows='15') #{post.body}
			input(type='submit', value='Update')
		- var script1 = "$(document).ready(function(){$('form').submit(function(e){"
		- var script2 = "e.preventDefault();$.ajax({method: 'PUT', url: $('form').attr('action')"
		- var script3 = ", data:  $('form').serializeArray()}).done(function(data){alert(data)})})})"
		script(type='text/javascript') !{script1}!{script2}!{script3}
